html {

    height: 100%;
    width: 100%;

}

.column {

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    justify-content: center;

    height: 100%;

}

.row {

    display: flex;
    flex-direction: row;

    align-content: center;
    align-items: center;
    justify-content: center;

    width: 100%;

}

body {

    height: 100%;
    width: 100%;

    margin: 0;
    
    background-color: var(--background-color);

}

#tabHeader {

    flex-shrink: 0;

    margin-bottom: 2em;
    
    width: 100%;

    background-color: var(--accent-1);

    color: var(--text-color);
    text-align: center;

}

.tabButton {

    margin: 0.25em;
    outline: none;
    border: none;
    padding: none;

    border-radius: 0.5em;

    background-color: transparent;

    font-family: "Times New Roman", Times, serif;
    font-size: 2em;

    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-radius: 0.5em;

    transition: 250ms;

}

.tabButton:hover,
.tabButton.activeTabButton {

    border-color: var(--text-color);

}

#content {

    flex-grow: 1;

    height: 0px;

}

#settingsFooter {

    flex-shrink: 0;
    justify-content: flex-end;

    margin-top: 2em;

    width: 100%;

    background-color: var(--accent-1);

    color: var(--text-color);
    font-size: 1em;
    text-align: right;

}

.footerContent {

    margin: 0.25em;
    outline: none;
    border: none;
    padding: 0.25em 0.5em;

    background-color: transparent;

    font-family: "Times New Roman", Times, serif;
    font-size: 1em;

    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-radius: 0.5em;

    transition: 250ms;

}

.footerContent:hover {

    border-color: var(--text-color);

}

.footerExpand {

    display: inline-block;
    max-width: 0px;

    opacity: 0;

    overflow: hidden;

    transition: 500ms;

}

.footerContent:hover .footerExpand {
    
    max-width: 5em;

    opacity: 1;

}