#endgame {

    height: 15em;
    width: 15em;

    padding: 2.5em;

    border-radius: 10%;

    background: var(--accent-1);

}

#endgame span {

    text-align: center;
    color: var(--text-color);

}

#endgame span a {

    text-align: center;
    color: var(--text-color);

    transition: 250ms;

}

#endgame span a:hover {

    transform: scale(1.1);

}

#playAgain {

    margin: 0.25em;
    outline: none;
    border: none;
    padding: 0.25em 0.5em;

    background-color: transparent;

    font-family: "Times New Roman", Times, serif;
    font-size: 1em;

    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-radius: 0.5em;

    transition: 250ms;

}

#endgame span a,
#playAgain:hover {

    border-color: var(--text-color);

}